<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Amazing app to help you find recipes with ingredient and Calories</title>
  </head>
  <body>
    <form action="" method="post">
        <label for="">One ingredient you want to have in your recipe: <input type="text" name="ingredient"></label>
        <br>
        <br>
        <label for="">Maxium calories of the recipes: <input type="number" name="calories"></label>
        <button>Recommend Recipe</button>
  </body>
</html>